@if (!string.IsNullOrEmpty(SuccessMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span class="message">@SuccessMessage</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
}

@foreach (var error in Errors)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span class="message">@error</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
}

@code
{
    [Parameter]
    public string? SuccessMessage { get; set; }
    
    [Parameter]
    public List<string> Errors { get; set; } = new List<string>();
}
