@if (!string.IsNullOrEmpty(SuccessMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span class="alert-text text-white">@SuccessMessage</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@foreach (var error in Errors)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span class="alert-text text-white">@error</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@code
{
    [Parameter]
    public string? SuccessMessage { get; set; }

    [Parameter]
    public List<string> Errors { get; set; } = new List<string>();
}