@inherits LayoutComponentBase

<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
        <div class="col-12">
            @* No NavBar here to prevent authentication loops *@
        </div>
    </div>
</div>
<main class="main-content mt-0">
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
                        @Body
                    </div>
                    <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
                        <div class="position-relative bg-gradient-faded-success h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center">
                            <img src="_content/Hurudza.UI.Shared/img/shapes/pattern-lines.svg" alt="pattern-lines" class="position-absolute opacity-4 start-0">
                            <div class="position-relative">
                                <img class="max-width-500 w-100 position-relative z-index-2" src="_content/Hurudza.UI.Shared/img/illustrations/dark-lock-ill.png" alt="chat-img">
                            </div>
                            <h4 class="mt-5 text-white font-weight-bolder">"Attention is the new currency"</h4>
                            <p class="text-white">The more effortless the writing looks, the more effort the writer actually put into the process.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@code {
    // No authentication logic in this layout to prevent redirect loops
}